body {
  background: black;
  color: white;
  font-family: 'Vollkorn', serif;
}

p {
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h5 {
  font-size: 21px;
  font-family: 'Arial Black', arial;
}

h4 {
  font-size: 25px;
  font-family: 'Arial Black', arial;
}

h3 {
  font-size: 30px;
  font-family: 'Arial Black', arial;
}

h2 {
  font-size: 35px;
  font-family: 'Arial Black', arial;
}

h1 {
  font-size: 40px;
  font-family: 'Arial Black', arial;
}

em {
  font-style: italic;
}

#main_content {
  display: none;
}

#hero {
  width: 100%;
  text-align: center;
}

.continue {
  /*display: none;*/
  color: black;
  margin-top: 47%;
  border: none;
  border-radius: 3px;
  width: 20em;
  height: 3em;
  background: white;
  font-size: 20px;
  font-family: 'Vollkorn', serif;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(tiny_rick.jpg) no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  color: white;
  margin-top: 1em;
  margin-bottom: 2em;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: gray;
}

.left_logo {
  float: left;
}

.right_logo {
  float: right;
}

.peppers_row {
  height: 15em;
  width: 35em;
}

.what_is_pepper {
  text-align: center;
}

#peppership_intro {
  text-align: justify;
  text-align-last: justify;
}

.peppership_content {
  margin: 1em 18em;
}

.navbar {
  text-align: center;
  color: white;
  margin: 1em 0;
}

.navbar_inner {
  text-align: center;
  list-style: none;
}

.navbar_inner li {
  display: inline-block;
  padding: 5px .5em;
  cursor: pointer;
}

.navbar_inner li:hover {
  color: gray;
}

.inactive {
  display: none;
}

#membership {
  padding: 1em;
  text-align: center;
}

#membership a {
  text-decoration: none;
  color: black;
}

#perk {
  padding: 2em;
  margin: .8em 25em 0 25em;
  /*border: 1px white solid;*/
}

#perk h3 {
  padding-bottom: .4em;
}

#perk p {
  padding: .35em;
}

.tier_hr {
  margin: 0 15em;
}

.levels_hr {
  margin: .5em 42em -.5em 42em;
}


.homepage_link {
  font-size: .7em;
  color: gray!important;
}

.levels_logo {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.membership_card {
  text-align: justify!important;
  text-align-last: justify!important;
}

.contact_link {
  color: white!important;
  text-decoration: none;
}

.level_name {
  display: inline-block;
  /*margin: 0 0 -.5em .5em;*/
}

.netflix {
  font-size: .95em;
}

.jenny_email {
  color: white!important;
  text-decoration: none;
}

.member_button {
  margin-top: 1.85em;
  font-size: 1em;
  height: 2.8em;
  width: 15em;
  font-family: 'Vollkorn', serif;
  border: none;
  border-radius: 2px;
  background: #FF304F;
}

.member_button:hover {
  cursor: pointer;
}

#about {
  text-align: center;
  margin: 2em 10em;
}

#mailing_list {
  text-align: center;
  margin-top: 1.5em;
}

#mc-form {
  margin-top: 1em;
}

#mc-email {
  width: 40em;
  height: 2.5em;
  border: none;
  font-size: 15px;
  border-radius: 3px;
}

#mc-submit {
  margin-top: 2em;
  width: 27em;
  height: 3em;
  border: none;
  border-radius: 5px;
  background: white;
  font-family: 'Vollkorn', serif;
}

#mc-submit:hover {
  cursor: pointer;
}
