body {
  background: black;
  color: white;
}

p {
  font-size: 20px;
}

h4 {
  font-size: 25px;
}

h3 {
  font-size: 30px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 40px;
}

#hero {
  height: 50%;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(tiny_rick.jpg) no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  color: white;
  margin-top: 1em;
  margin-bottom: 2em;
}


.navbar {
  text-align: center;
  color: white;
  margin: 1em 0;
}

.navbar_inner {
  text-align: center;
  list-style: none;
}

.navbar_inner li {
  display: inline-block;
  padding: 5px .5em;
  cursor: pointer;
}

.inactive {
  display: none;
}

#membership {
  text-align: center;
}

#about {
  text-align: center;
  margin: 2em 10em;
}

#mailing_list {
  text-align: center;
}
